@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  text-rendering: geometricPrecision;
}

html {
  font-size: 13px;
}

body {
  overflow: hidden;
}

*:focus {
  outline: none;
}

button {
  cursor: default;
}

[data-theme="dark"] {
  --color-text-primary: #fafafa;
  --color-text-secondary: #d4d4d8;
  --color-text-tertiary: #a1a1aa;
  --color-text-placeholder: #71717a;

  --color-bg-primary: #18181b;
  --color-bg-secondary: #27272a;
  --color-bg-tertiary: #3f3f46;
  --color-bg-hover: #232324;
  --color-bg-primary-btn-hover: #333333;
  --color-bg-action: rgba(95, 32, 189, 0.7);

  --color-border-primary: #2e2e2f;
  --color-border-secondary: #52525b;
  --color-border-error: #ef4444;

  --color-icon: #c3c4c6;
  --color-bg-code: #202020;
  --color-text-inline-code: #f97316;
  --color-bg-error: #b91c1c;
  --color-text-error: #f87171;

  --color-bg-kbd: #27272a;
  --color-bg-tooltip: #1a1a1a;
  --color-bg-tooltip-kbd: #343333;
}

[data-theme="light"] {
  --color-text-primary: #18181b;
  --color-text-secondary: #3f3f46;
  --color-text-tertiary: #52525b;
  --color-text-placeholder: #71717a;

  --color-bg-primary: #fafafa;
  --color-bg-secondary: #ebebef;
  --color-bg-tertiary: #e4e4e7;
  --color-bg-hover: #f4f4f5;
  --color-bg-primary-btn-hover: #f4f5f8;
  --color-bg-action: rgba(95, 32, 189, 0.4);

  --color-border-primary: #d4d4d8;
  --color-border-secondary: #a1a1aa;
  --color-border-error: #ef4444;

  --color-icon: #3c4149;
  --color-bg-code: #edebe5;
  --color-text-inline-code: #ea580c;
  --color-bg-error: #b91c1c;
  --color-text-error: #f87171;

  --color-bg-kbd: #e5e5e5;
  --color-bg-tooltip: #f5f6f8;
  --color-bg-tooltip-kbd: #dfdfe2;
}

[data-theme="andromeda"] {
  --color-text-primary: rgb(255, 255, 255);
  --color-text-secondary: rgb(206, 215, 210);
  --color-text-tertiary: rgb(174, 171, 177);
  --color-text-placeholder: rgb(113, 113, 122);

  --color-bg-primary: rgb(30, 32, 37);
  --color-bg-secondary: rgb(39, 42, 50);
  --color-bg-tertiary: rgb(34, 36, 42);
  --color-bg-hover: rgb(38, 41, 48);
  --color-bg-primary-btn: rgb(32, 32, 32);
  --color-bg-primary-btn-hover: rgb(74, 71, 71);
  --color-bg-action: rgba(57, 139, 233, 0.6);

  --color-border-primary: rgb(43, 46, 55);
  --color-border-secondary: rgb(73, 77, 90);
  --color-border-error: rgb(132, 8, 8);

  --color-icon: #c3c4c6;
  --color-bg-code: rgb(30, 32, 37);
  --color-text-inline-code: rgb(225, 108, 85);
  --color-bg-error: rgb(104, 23, 44);
  --color-text-error: rgb(228, 64, 115);

  --color-bg-kbd: rgb(52, 51, 51);
  --color-bg-tooltip: #1a1a1a;
  --color-bg-tooltip-kbd: rgb(52, 51, 51);
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
  max-height: 180px;
  /* min-height: 56px; */
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
}
.grow-wrap > textarea,
.grow-wrap::after {
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-primary);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-border-primary);
}

.hide_scrollbar::-webkit-scrollbar {
  display: none !important;
}

a {
  @apply border-b-2 border-sky-400 text-primary no-underline;
}

p {
  @apply text-base leading-6 !text-primary;
}

li {
  @apply !mb-1 !text-base leading-6 !text-primary;
}

li > p {
  @apply contents;
}

h1 {
  @apply !mb-2 !mt-4 !text-2xl !font-bold !text-primary;
}

h2 {
  @apply !mb-2 !mt-4 !text-xl !font-bold !text-primary;
}

h3 {
  @apply !mb-2 !mt-4 !text-lg !font-bold !text-primary;
}

ol {
  @apply my-2 !list-inside !list-decimal leading-4;
}

ul {
  @apply my-2 !list-inside !list-disc leading-4;
}

pre > code {
  @apply max-h-[320px] overflow-y-auto !bg-code px-3 py-2 !text-primary;
}

:not(pre) > code {
  @apply rounded border border-primary bg-tertiary px-1 py-0.5 text-sm text-primary;
}

pre {
  @apply relative my-2 flex flex-col !overflow-hidden !rounded-md border border-primary !bg-code !text-sm !text-primary;
}

table {
  @apply my-2 !border-collapse !border !border-primary text-primary;
}

table > thead {
  @apply border-b border-primary !bg-tertiary !text-secondary;
}

table > thead > tr > th {
  @apply border-r border-primary px-2 py-1;
}

table > tbody > tr > td {
  @apply border-b border-r border-primary px-2 py-1;
}

table > tbody > tr > td:first-child {
  @apply border-l-0;
}

table > tbody > tr:last-child > td {
  @apply border-b-0;
}

table > tbody > :nth-child(2n) {
  @apply bg-secondary;
}
